.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-image {
  width: 120px;
}

.profile-name {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 800;
  color: #12022f;
}

.profile-role {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  color: #616e7c;
}
